/* COMMON */

* {
    box-sizing: border-box;
}

html,body {
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}


a {
font-weight: 700;
text-decoration: none;
color: #333;
}

a:hover{
    color: #00BF78;
}


/* HEADER */


.header {
background: url(./img/header/BG.png);
}



.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-logo {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}


.navigation-list {
    list-style: none;
    display: flex;
    gap: 0px 28px;

}

.navigation-link {
    font-size: 14px;
    font-weight: 500;
}


.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.contact-number {
    font-size: 18px;
    font-weight: 500;
    gap: 8px 0;
}


.header-content {
    min-height: 510px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}


.header-main {
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 16px 0;
}



.header-title {
    font-size: 48px;
    font-weight: 600;
   
}


.header-desk {
    font-size: 20px;
    font-weight: 400;
}


.header-button {
    background-color: #FB9475;
    width: fit-content;
    padding: 17px 30px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 50px;
}


.social {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    cursor: pointer;
}

.header-image {
    position: absolute;
    bottom: 0;
    right: 80px;
   
}


.header-image img {
    width: 524px;
    height: 510px;
}


/* MAIN */

.selection-info {
    width: 1109px;
    height: 387.313px;
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 32px;
}

.paragraph-first {
    font-size: 20px;
    font-weight: 400;
    width: 538.457px;

}


.paragraph-second {
    font-size: 16px;
    font-weight: 400;
    width: 538.457px;
}


.main-text {
display: flex;
flex-direction: column;
width: 538.457px;
gap: 16px 0;
}

.main-info {
    display: flex;
    justify-content: space-between;
}


.main-video {
    border-radius: 8px;
    width: 445px;
    height: 296.332px;
    
}


.section-columns {
display: flex;
justify-content: space-between;
gap: 0 100px;
}



.column-icons {
    display: flex;
    flex-direction: column;
    width: 296px;
    align-items: center;
    
}

.icons {
    width: 48px;
    height: 48px;
}

.icons-name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 12px;
}

.icons-text {
    font-size: 14px;
    font-weight: 400;

}