/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
    .header__burger {
        display: none;
    }

    .navigation-list {
        position: relative;
        z-index: 5;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

/* HEADER */
    .header {
        background: url(../img/header/BG.png);
    }

    .header-main {
        z-index: 2;
    }

    .header-image {
        opacity: 0.5;
    }

    .contact-number {
        font-size: 12px;
    }

    .header-contact__desk {
        text-align: right;
    }

    .header-logo {
        text-wrap: nowrap;
    }

    .navigation-item {
        text-wrap: nowrap;
    }

    .navigation-list {
        gap: 0px 10px;
    }

    /* ABOUT */

    .about-info {
        width: 980px;
    }
   
    /* MASTERS */

    .masters-all {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 30px;
    }
      
    /* WORKS */
    .work-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
   

    .body.lock {
        overflow: hidden;
    }

    /* BURGER */

  .header-top {
   
   max-width: 768px;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 50;
   
   }

   .header-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FB9475;
    z-index: 4;
     
    }

    .header-top__banner {
        position: relative;
        padding: 16px 20px;
        gap: 0 520px;
        
        
        
    }

    .header__burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 5;
        
        
    }

    .header__burger span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;

    }

    .header__burger::before,
    .header__burger::after {
        content:'';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        
    }

    .header-logo {
        position: relative;
        z-index: 5;
        
    }

    .navigation {
        
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        padding: 60px 0 0 0;
        
        
    }

    .navigation.active {
        top: 0;
        
    }

    .navigation-list{
        display: block;
        position: relative;
        z-index: 3;
        text-align: center;
        margin-left: -275px;
        margin-top: 100px;
        
        
        
    }
    
    .navigation-list li{
        margin: 0 0 30px 0;
    }

    .navigation-link {
        font-size: 48px;
        font-weight: 600;
    }
    
    .header-contact {
        display: none;
    }



    


      

    /* HEADER */

    .header-image {
        opacity: 0.3;
    }

    

    .header-contact__desk {
        text-wrap: normal;
    }
    /* ABOUT */
    
    .about-paragraphs {
        display: flex;
        flex-wrap: wrap;
    }

    .play-btn {
        margin-top: 50px;
    }

    .about-columns {
        margin-top: 300px;
    }

    /* PRICES */

    
    
    .navigation__list {
        gap: 0px 15px;
        padding-inline-start: 0%;
        margin-top: 30px;
    }

    .prices__costs {
        display: flex;
        flex-wrap: wrap;
    }

    /* MASTERS */

    .masters-all {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 150px;
        margin-top: 60px;
    }
    
    /* WORKS */

    .works-brand {
        gap: 0 20px;
    }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    /* HEADER */

    .navigation-list{
        display: flex;
        flex-direction: column;
    }

    .header-image {
        opacity: 0;
    }




    /* ABOUT */

   .paragraph-first {
    width: 450px;
   }

   .paragraph-second {
    width: 450px;
   }

   .about-columns {
    margin-top: 400px;
   }

   .column-icons {
    margin: 10%;
   }


   /* SERVICES */

   .services {
    margin-top: 50px;
   }

   .services__cards {
    gap: 70px 30px;
   }

    /* WORKS*/

    .works-brand {
        display: flex;
        flex-wrap: wrap;
    }
   

    /* CONTACTS*/

    .contacts-block {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 0px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

    /* HEADER */

    .header-top {
        display: flex;
        flex-direction: column;
    }

    .header-contact {
        align-items: center;
    }

    /* ABOUT */

    .paragraph-first {
        width: 300px;
    }

    .paragraph-second {
        width: 300px;
    }

    .play-btn {
        width: 320px;
        height: 215px;
        border-radius: 8px;
    }

    .about-paragraphs {
        display: block;
    }

    .about-columns {
        margin-top: 500px;
    }

    /* PRICES */

    .navigation__list {
        display: flex;
        flex-direction: column;
        
    }

    .cost {
        display: flex;
        width: 310px;
    }

    /* FORM */

    .list-form {
        width: 320px;
        height: 292px;
        padding: 20px 20px;
    }

    .record-describe {
        width: 250px;
        margin-bottom: 15px;
    }

    .username {
        width: 200px;
        height: 50px;
    }

    .telephone {
        width: 200px;
        height: 50px;
        
    }

    .button_big {
        padding: 17px 30px;
        font-size: 14px;
        width: 200px;
    }

    .conditions {
        margin-top: 25px;
    }


    /* FOOTER */

    .navigation-footer {
        text-wrap: nowrap;
        display: flex;
        flex-direction: column;
    }

      





}